
ul {
    list-style: none;
}
a{
color:black;
}
body {
    font-family:"veranda", sans-serif;


}
.octodex{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    

}

.octocat{
    display:block;
    position:relative;
}

.octocat >a >img{
    height:300px;
    width:300px;
    border:1px solid lightgrey;
    border-radius: 25px;
    margin-top:20px;
    margin-left:15px;
    margin-right:15px;



}

.image-caption {
    color:lightgrey;
   display:flex;

}

.image-footer{
    text-align:right;
    display:flex;
    border-bottom:lightgrey 1px solid;
    justify-content:space-around;
    margin-top:5px
}

.image-footer a img{
    height:20px;
    width:20px;
    border:1px solid lightgrey;
    border-radius: 4px;
    margin-left:0px;
    padding:0px;


}
.image-number{
    float:left;
    color:lightgrey;
    font-weight: bold;
}
.image-number:before {
    content:"#";
}


.image-caption {
    text-align:right;


    

   

}

.image-caption span{
    margin-left:5px;
    margin-right:5px;
}
.authors{
    text-align:right;
    padding-left:0px;
    
}
.octocat:after {
 content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: lightgrey transparent transparent transparent;
    float: right;
    margin-right: 20px;
    top: 322px;
    right: 17px;
    text-align:right;
    position:absolute; }


